/* App */
.container {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  width: 75%;
  margin: auto;
}
.content {
  margin-left: 10px;
  margin-top: 10px;
}
.title {
  font-size: 22px;
  margin-bottom: 10px;
  /* color: var(--text-color-1); */
}

/* Header */
.header {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid var(--border-color);
}
.nav {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: auto;
  align-items: center;
  padding: 20px;
}
.link-to-github {
  color: var(--text-color-1);
}
.link-to-github:hover {
  color: black;
}
.fa-github {
  font-size: 26px;
}
.fa-github:hover {
  cursor: pointer;
}
.title-bootcamp {
  color: var(--text-color-1);
  text-decoration: none;
  font-size: 20px;
}
.title-bootcamp:hover {
  color: black;
  cursor: pointer;
}

/* Sidebar */
.sidebar {
  border-right: 1px solid var(--border-color);
  height: 100vh;
  text-align: left;
  position: relative;
  overflow: auto;
}
.links-container {
  display: flex;
  flex-direction: column;
}
.link {
  color: var(--text-color-1);
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;
  margin: 10px 0;
  padding: 5px;
  border-radius: 5px;
}
.link:active {
  background-color: var(--background-green);
  color: var(--text-color);
}
.link:hover {
  color: black;
  margin-left: 2px;
}
/* ExternalUrl.tsx */
.external-url {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

/* MDX Files */
.instructions.example {
  margin-top: 10px;
  margin-bottom: 10px;
}
.instructions {
  color: var(--instruction-color);
  line-height: 1.4em;
}
.ways {
  color: var(--instruction-color);
}
