/* App */
.container {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  width: 85%;
  margin: auto;
}
.content {
  margin: 10px;
}
.title {
  font-size: 22px;
  margin-bottom: 10px;
  color: #e25e5e;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: auto;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgb(242, 242, 242);
  margin-bottom: 10px;
}
.link-to-github {
  color: black;
}
.fa-github {
  font-size: 26px;
}
.fa-github:hover {
  cursor: pointer;
}

/* Sidebar */
.sidebar {
  border-right: 1px solid var(--border-color);
  height: 100vh;
  text-align: left;
}
.links-container {
  display: flex;
  flex-direction: column;
}
.link {
  color: black;
  text-decoration: none;
  line-height: 40px;
  color: #444;
}
.link:hover {
  text-decoration: underline;
}

/* Code */
.highlight {
  margin-bottom: 1rem;
  background-color: #f7f7f9;
  padding: 0.3rem;
  font-size: 20px;
}
.highlight > pre {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
  display: block;
  font-size: 87.5%;
  color: #212529;
  white-space: pre;
  margin: 0.5em 0.5em;
}
.highlight > pre > code {
  font-size: inherit;
  color: #212529;
  word-break: normal;
  font-family: Consolas, Liberation Mono, Menlo, Courier, monospace;
}

/* Keyword.tsx */
.keyword {
  font-weight: bold;
  color: #a71d5d;
}

/* Parameter.tsx */
.parameter {
  color: #0086b3;
}

/* String.tsx */
.string {
  color: #df5000;
}

/* Comment.tsx */
.comment {
  color: #969896;
  white-space: pre-line;
}

/* Steps.tsx */
.steps {
  color: #333;
  font-size: 20px;
  margin-bottom: 15px;
}
