@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

:root {
  --background-dark: #1e1e3f;
  --background: #2d2b55;
  --title-bootcamp-color: #1e1e3f;
  --contrast: #fad000;
}
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
