@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

:root {
  --border-color: rgb(250, 248, 245);
  --instruction-color: rgb(100, 100, 100);
  --ways-color: rgb(50, 50, 50);
  --title-color: rgb(178, 151, 98);
}
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

body {
  background: white;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
